@layer utilities {
	.text-gradient {
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
  }
  
  html, #root{
	background-color: #111827;
	user-select: none;
  } 
  .team{
	  color: #1F2937;
}
.octo{
	animation-name: blur;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    transition: all 400ms;
}
.octo:hover{
	transform: scale(1.1);
	opacity: 0.9;
}

@keyframes blur {
	0%   {filter: blur(0px);}
	25%  {filter: blur(2px);}
	50%  {filter: blur(4px);}
	75%  {filter: blur(2px);}
	100% {filter: blur(0px);}
  }