@layer utilities {
	.text-gradient {
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
  }
  
  html, #root{

	  background-color: #111827;
	user-select: none;
  } 
  .team{
	  color: #1F2937;
  }
